<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="environment" value="Dev" />
    <add key="serviceName" value="SERVICENAME" />
    <add key="serviceDisplayName" value="Service Display Name" />
    <add key="serviceDescription" value="Service Description." />
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>